body {
    /* Fondo multicolor */
    background: linear-gradient(to right, black, black, grey, white, white);
    /* Asegura que el fondo se extienda por toda la ventana */
    min-height: 100vh;
    margin: 0;
    /* Ajusta el estilo de la fuente y el texto */
    font-family: Arial, sans-serif;
    color: white; /* Color del texto */
    text-align: center; /* Centra el contenido en el medio */
    padding: 20px; /* Añade algo de espacio alrededor del contenido */
}

a{
 color: aliceblue;   
}

@keyframes cambioFondo {
    0% { background-color: #FF5733; } /* Rojo */
    25% { background-color: #FFC300; } /* Naranja */
    50% { background-color: #4CAF50; } /* Verde */
    75% { background-color: #00BFFF; } /* Azul claro */
    100% { background-color: #800080; } /* Púrpura */
}
