<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/showUsers">Mostrar usuarios ingresados</a>
        </li>
        <li>
            <br><br><br><br>
            <img src="./img/piolin.jpeg" alt="" width="500px" length="500px">
        </li>
    </ul>
</div>