<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/regis">Registro</a>
        </li>
        <li>
            <img src="./img/diego-el-cigala-1-980x550.jpg" alt="">
        </li>
    </ul>
</div>